# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
venv_linux/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
inventory.db
database/management_barang.db
database/backups/
barcode/
label_masuk/
label_barcode/
DO/

# OS
.DS_Store
Thumbs.db

